* {
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
}

body {
	background-color: rgb(248, 246, 246);
	font-size: 18px;
	font-family: "Sarabun", Arial, Helvetica, sans-serif;
	margin: 50px;
}

/* Header */
.header {
	display: grid;
	grid-template-areas:
		"hero hero feature-1"
		"hero hero feature-2";
}

.hero {
	color: white;
	grid-area: hero;
	min-height: 350px;
	background-image: url("img/hero.jpg");
	background-size: cover;
	background-position: center;
	padding: 50px;
}

.hero h2,
.hero p {
	display: none;
}

.features {
	background-color: black;
	color: white;
	display: grid;
	/* justify-content: center;
	align-content: center; */
	place-content: center;
	text-align: center;
	cursor: pointer;
}

.feature-1 {
	grid-area: feature-1;
	background: url("img/tuxs.jpg");
	background-size: cover;
}

.feature-2 {
	grid-area: feature-2;
	background: url("img/shirt.jpg");
	background-size: cover;
}

.features .price {
	font-size: 2em;
	font-weight: 200;
}

/* Navigation */
.menu {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
}

.menu .brand {
	font-size: 1.3em;
	color: #333;
}

.menu ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 5px;
}

.menu a {
	display: block;
	color: white;
	background-color: black;
	text-decoration: none;
	text-align: center;
	padding: 7px;
	text-transform: uppercase;
}

/* Responsive Breakpoints */
